.foto
{
  position:relative;
  width: 30%;
  height: 27%;



}
#filmescat{
        position: relative;
        top:10%;
        left: 13%;
        padding-left: 10px;
        height:143%;
        width: 92%;
        padding-top: 10%;

      }
#filmescat img{
  width: 30%;
  height: 27%;

  text-decoration: none;

        float: left;
        display: inline-block;
        width: 14%;
        padding-left: 20px;
        filter: brightness(55%);
      }

#nome
{
  width: 100%;
  background-color: black;
  filter: opacity(35%);
  top: 0%;
  left:0%;
  z-index:5;
  position: fixed;
  height:4em;
  z-index: 7;
}
